<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome5" version="2.1.0" targetFramework="net461" />
  <package id="MathCore" version="0.0.36" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>